{% extends 'admin/base/admin_base.html'%}
{% block admin%}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'admin/base/navbar_base.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="mb-3 d-flex justify-content-between">
                        <h1 class="h5 text-gray-800">DC White Space</h1>
                        <a href="{{url_for('dashboard')}}" class="btn btn-sm btn-primary">Back</a>
                      </div>
                    <!-- Page Heading -->
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'admin/base/footer_base.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    {%endblock%}