{% extends 'admin/base/admin_base.html'%}
{% block admin%}

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'admin/base/navbar_base.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="mb-3 d-flex justify-content-between">
                        <h1 class="h5 text-gray-800">Generators</h1>
                        <a href="{{url_for('dashboard')}}" class="btn btn-sm btn-primary">Back</a>
                      </div>
                    <!-- Page Heading -->
                    
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Generator 1</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Generator 2</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Generator 3</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="disabled-tab" data-toggle="tab" data-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Generator 4</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="total-hrs-tab" data-toggle="tab" data-target="#total-hrs-tab-pane" type="button" role="tab" aria-controls="total-hrs-tab-pane" aria-selected="false">Remaining Hrs</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="tanks-tab" data-toggle="tab" data-target="#tanks-tab-pane" type="button" role="tab" aria-controls="tanks-tab-pane" aria-selected="false">Tanks</button>
                                </li>
                              </ul>
                              <div class="tab-content my-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <div class="card mb-2">
                                <div class="card-body">
                              <form id="generator_1">
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g1_fuel_level">Fuel Level</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="fuel_level" id="g1_fuel_level">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g1_run_time">Run Time Hours</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="run_time" id="g1_run_time">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g1_prev_starts">Previous Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="prev_starts" id="g1_prev_starts">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g1_current_starts">Current Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="current_starts" id="g1_current_starts">
                                  </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md">
                                  <div class="form-group">
                                    <label for="g1_total_starts">Total Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="total_starts" id="g1_total_starts">
                                  </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" form="generator_1" class="submit float-end btn btn-secondary btn-sm generator_1">Save</button>
                                  </div>
                              </div>
                              </form>
                              </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                            <div class="card mb-2">
                                <!-- <div class="card-header  bg-secondary text-white py-2">
                                    <h5 class="h6 fw-bold">Generator Two</h5>
                                </div> -->
                                <div class="card-body">
                              <form id="generator_2">
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g2_fuel_level">Fuel Level</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="fuel_level" id="g2_fuel_level">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g2_run_time">Run Time Hours</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="run_time" id="g2_run_time">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g2_prev_starts">Previous Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="prev_starts" id="g2_prev_starts">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g2_current_starts">Current Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="current_starts" id="g2_current_starts">
                                  </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md">
                                  <div class="form-group">
                                    <label for="g2_total_starts">Total Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="total_starts" id="g2_total_starts">
                                  </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" form="generator_2" class="submit float-end btn btn-secondary btn-sm generator_2">Save</button>
                                  </div>
                              </div>
                              </form>
                              </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                            <div class="card mb-2">
                                <!-- <div class="card-header bg-info text-white py-2">
                                    <h5 class="h6 fw-bold">Generator Three</h5>
                                </div> -->
                                <div class="card-body">
                              <form id="generator_3">
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g3_fuel_level">Fuel Level</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="fuel_level" id="g3_fuel_level">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g3_run_time">Run Time Hours</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="run_time" id="g3_run_time">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g3_prev_starts">Previous Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="prev_starts" id="g3_prev_starts">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g3_current_starts">Current Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="current_starts" id="g3_current_starts">
                                  </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md">
                                  <div class="form-group">
                                    <label for="g3_total_starts">Total Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="total_starts" id="g3_total_starts">
                                  </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" form="generator_3" class="submit float-end btn btn-secondary btn-sm generator_3">Save</button>
                                  </div>
                              </div>
                              </form>
                              </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                            <div class="card mb-2">
                                <!-- <div class="card-header bg-danger text-white py-2">
                                    <h5 class="h6 fw-bold">Generator Four</h5>
                                </div> -->
                                <div class="card-body">
                              <form id="generator_4">
                              <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g4_fuel_level">Fuel Level</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="fuel_level" id="g4_fuel_level">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g4_run_time">Run Time Hours</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="run_time" id="g4_run_time">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g4_prev_starts">Previous Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="prev_starts" id="g4_prev_starts">
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md">
                                  <div class="form-group">
                                    <label for="g4_current_starts">Current Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="current_starts" id="g4_current_starts">
                                  </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md">
                                  <div class="form-group">
                                    <label for="g4_total_starts">Total Starts</label>
                                    <input type="number" value="0" class="form-control all-inputs some_inputs" name="total_starts" id="g4_total_starts">
                                  </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" form="generator_4" class="submit float-end btn btn-secondary btn-sm generator_4">Save</button>
                                  </div>
                              </div>
                              </form>
                              </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="total-hrs-tab-pane" role="tabpanel" aria-labelledby="total-hrs-tab" tabindex="0">
                              <div class="card mb-2">
                                  <div class="card-body">
                                    <form>
                              <div class="col-xl-12 col-lg-12 col-md">
                                  <div class="form-group">
                                    <label for="hrs_remaining">Total Hours Remaining</label>
                                    <output class="form-control" name="hrs_remaining" id="hrs_remaining"></output>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <button class="btn btn-secondary btn-sm float-end" type="button" id="get_hrs_remaining">
                                    Get Total and Save
                                  </button>
                                </div>
                                </form>
                                </div>
                          <div class="card-footer">
                              <button class="btn btn-success w-100" type="button" id="save_all_data">
                                Save All Generators Data
                              </button>
                            </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="tanks-tab-pane" role="tabpanel" aria-labelledby="tanks-tab" tabindex="0">
                                <div class="card mb-2">
                                    <div class="card-body">
                                  <form id="tanks">
                                <div class="col-xl-12 col-lg-12 col-md">
                                    <div class="form-group">
                                      <label for="tanks1_fuel_level">Tank 1 Fuel Level</label>
                                      <input type="number" value="0" class="form-control all-inputs some_inputs" name="tanks1_fuel_level" id="tanks1_fuel_level">
                                    </div>
                                  </div>
                                <div class="col-xl-12 col-lg-12 col-md">
                                    <div class="form-group">
                                      <label for="tanks2_fuel_level">Tank 2 Fuel Level</label>
                                      <input type="number" value="0" class="form-control all-inputs some_inputs" name="tanks2_fuel_level" id="tanks2_fuel_level">
                                    </div>
                                  </div>
                                <div class="col-xl-12 col-lg-12 col-md">
                                    <div class="form-group">
                                      <label for="fuel_remaining">% Fuel Remaining</label>
                                      <input type="number" value="0" class="form-control all-inputs some_inputs" name="fuel_remaining" id="fuel_remaining">
                                    </div>
                                  </div>
                                  <div class="col-12">
                                    <button class="btn btn-secondary btn-sm float-end tanks" form="tanks" type="button" id="get_hrs_remaining">
                                      Save
                                    </button>
                                  </div>
                                  </form>
                                  </div>
                                  </div>
                            </div>
                            
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md">
                          <div class="fw-bolder" id="dateTime"></div>
                          <hr class="bg-black py-1 my-1">
                          <div class="fw-bold d-flex justify-content-between">
                            <span>Preview</span>
                            <button class="btn btn-danger btn-sm py-0 clear-cookie">Clear</button>
                          </div>
                          <div id="preview"></div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'admin/base/footer_base.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        <script>
          const all_data = {}
          $(function(){
            $('.generator_1').click(function(e){
              data = MakeSerial('generator_1')
              Preview()
            })
            $('.generator_2').click(function(e){
              data = MakeSerial('generator_2')
              Preview()
            })
            $('.generator_3').click(function(e){
              data = MakeSerial('generator_3')
              Preview()
            })
            $('.generator_4').click(function(e){
              data = MakeSerial('generator_4')
              Preview()
            })
            $('.tanks').click(function(e){
              data = MakeSerial('tanks')
              Preview()
            })
            $('.clear-cookie').click(function(e){
              if ($.cookie("generators")){
                $.removeCookie('generators', { path: '/' });
                location.reload(true);
              }
            })
            $('#save_all_data').click(function(){
              var todayData = {}
              if (all_data.length > 0){
                todayData = all_data;
                sendDataBack(todayData)
              }
              else if ($.cookie("generators")){
                todayData = JSON.parse($.cookie("generators"))
                sendDataBack(todayData)
              }
              else{
                ToastMessage('No data collected or available for today', 'error')
              }
              
            });
            //================================================
            if ($.cookie("generators")){
              Preview()
            }
            else{
              $('#preview').html("<span class='no-data'>No data collected or available for today</span>")
            }
          })
          function sendDataBack(todayData){
            $.ajax({
              url: "{{url_for('generators_data')}}",
              type: 'POST',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(todayData),
              traditional: true,
              success: function(data){
                  console.log(data);
                  ToastMessage('Today\'s data is saved', 'success')
              }
            })
          }
          function Preview(){
            $('#no-data').addClass('visually-hidden');
            $('#preview').html('');
            todayData = JSON.parse($.cookie("generators"))
            $.each(todayData, function(index, value){
              var t = '';
              $.each(value, function(index2, value2){
                t += `
                <div>
                  <div class="d-flex justify-content-between">
                    <span class="fw-light text-capitalize">`+index2.replace(/_/g, ' ')+`</span>
                    <span class="fw-light">`+value2+`</span>
                  </div>
                </div>`
              });
              var text = `
              <div>
                <div class="text-uppercase class="fw-normal">`+index.replace(/_/g, ' ')+`</div>
                `+t+`
              </div>`
              $('#preview').append(text)
            })
          }
          function MakeSerial(location){
            var d = $('#'+location).serializeArray()
              room = {}
              $.each(d, function(index, value){
                room[value.name] = value.value
              })
  
              all_data[location] = room
              MakeCookie(all_data)
              ToastMessage('Saved Successfully', 'success')
              return all_data;
          }
          function MakeCookie(all_data){
            $.removeCookie('generators', { path: '/' });
            var expDate = new Date();
            var tillmidnight = UntilMidnight()
            expDate.setTime(expDate.getTime() + (tillmidnight));
            $.cookie("generators", JSON.stringify(all_data), { path: '/', secure: false, expires: expDate });
          }
          function UntilMidnight() {
              var midnight = new Date();
              midnight.setHours( 24 );
              midnight.setMinutes( 0 );
              midnight.setSeconds( 0 );
              midnight.setMilliseconds( 0 );
              return ( midnight.getTime() - new Date().getTime() );
          }
        </script>
    {%endblock%}