{% extends 'admin/base/admin_base.html'%}
{% block admin%}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'admin/base/navbar_base.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="mb-3 d-flex justify-content-between">
                      <h1 class="h5 text-gray-800">Power Rooms</h1>
                      <a href="{{url_for('dashboard')}}" class="btn btn-sm btn-primary">Back</a>
                    </div>
                    <!-- Page Heading -->
                    <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md">
                    <div class="card mb-2">
                    <div class="card-body">
                        
                          
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Orange Room</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Split Room</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Grey Room</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="disabled-tab" data-toggle="tab" data-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Lower Ground</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="average" data-toggle="tab" data-target="#average-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Average</button>
                              </li>
                            </ul>
                            <div class="tab-content my-3" id="myTabContent">
                              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                <div class="card">
                                  <div class="card-body">
                                <form id="orange_room">
                                <div class="row">
                                  <div class="col-xl-6 col-lg-6 col-md">
                                    <div class="form-group">
                                      <label for="or_temperature">Temprerature</label>
                                      <input type="number" value="0" class="form-control all-inputs some_inputs" name="temperature" id="or_temperature">
                                      </div>
                                      </div>
                                  <div class="col-xl-6 col-lg-6 col-md">
                                    <div class="form-group">
                                      <label for="or_humidity">Humidity %</label>
                                      <input type="number" value="0" class="form-control all-inputs some_inputs" name="humidity" id="or_humidity">
                                      </div>
                                      </div>
                                  <div class="col-xl-6 col-lg-6 col-md">
                                    <div class="form-group">
                                      <label for="or_active_power">Active Power KW</label>
                                      <input type="number" value="0" class="form-control all-inputs" name="active_power" id="or_active_power">
                                      </div>
                                      </div>
                                  <div class="col-xl-6 col-lg-6 col-md">
                                    <div class="form-group">
                                      <label for="or_reactive_power">Reactive Power kVAR</label>
                                      <input type="number" value="0" class="form-control all-inputs" name="reactive_power" id="or_reactive_power">
                                      </div>
                                      </div>
                                  <div class="col-xl-6 col-lg-6 col-md">
                                    <div class="form-group">
                                      <label for="or_apparent_power">Apparent Power kVA</label>
                                      <input type="number" value="0" class="form-control all-inputs" name="apparent_power" id="or_apparent_power">
                                      </div>
                                      </div>
                                  <div class="col-xl-6 col-lg-6 col-md">
                                    <div class="form-group">
                                      <label for="or_power_factor">Power Factor</label>
                                      <input type="number" value="0" class="form-control all-inputs" name="power_factor" id="or_power_factor">
                                      </div>
                                      </div>
                                      <div class="col-12">
                                        <button type="button" form="orange_room" class="submit float-end btn btn-secondary btn-sm orange_room">Save</button>
                                      </div>
                                  </div>
                                  </form>
                                  </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                <div class="card">
                                  <div class="card-body">
                                <form id="split_room">
                                  <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="sp_temperature">Temprerature</label>
                                        <input type="number" value="0" class="form-control all-inputs some_inputs" name="temperature" id="sp_temperature">
                                        </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="sp_humidity">Humidity %</label>
                                        <input type="number" value="0" class="form-control all-inputs some_inputs" name="humidity" id="sp_humidity">
                                        </div>
                                        </div>
                                        <div class="col-12">
                                          <button type="button" form="split_room" class="submit float-end btn btn-secondary btn-sm split_room">Save</button>
                                        </div>
                                    </div>
                                  </form>
                                  </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                                <div class="card">
                                  <div class="card-body">
                                <form id="grey_room">
                                  <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="gr_temperature">Temprerature</label>
                                        <input type="number" value="0" class="form-control all-inputs some_inputs" name="temperature" id="gr_temperature">
                                        </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="gr_humidity">Humidity %</label>
                                        <input type="number" value="0" class="form-control all-inputs some_inputs" name="humidity" id="gr_humidity">
                                        </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="gr_active_power">Active Power KW</label>
                                        <input type="number" value="0" class="form-control all-inputs" name="active_power" id="gr_active_power">
                                        </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="gr_reactive_power">Reactive Power kVAR</label>
                                        <input type="number" value="0" class="form-control all-inputs" name="reactive_power" id="gr_reactive_power">
                                        </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="gr_apparent_power">Apparent Power kVA</label>
                                        <input type="number" value="0" class="form-control all-inputs" name="apparent_power" id="gr_apparent_power">
                                        </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="gr_power_factor">Power Factor</label>
                                        <input type="number" value="0" class="form-control all-inputs" name="power_factor" id="gr_power_factor">
                                        </div>
                                        </div>
                                        <div class="col-12">
                                          <button type="button" form="grey_room" class="submit float-end btn btn-secondary btn-sm grey_room">Save</button>
                                        </div>
                                    </div>
                                    </form>
                                    </div>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                                <div class="card">
                                  <div class="card-body">
                                <form id="lower_room">
                                  <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="lr_temperature">Temprerature</label>
                                        <input type="number" value="0" class="form-control all-inputs some_inputs" name="temperature" id="lr_temperature">
                                        </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md">
                                      <div class="form-group">
                                        <label for="lr_humidity">Humidity %</label>
                                        <input type="number" value="0" class="form-control all-inputs some_inputs" name="humidity" id="lr_humidity">
                                        </div>
                                        </div>
                                        <div class="col-12">
                                          <button type="button" form="lower_room" class="submit float-end btn btn-secondary btn-sm lower_room">Save</button>
                                        </div>
                                    </div>
                                  </form>
                                  </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="average-pane" role="tabpanel" aria-labelledby="average-tab" tabindex="0">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="h5">Averages</h4>
                                    <div class="row">
                                      <div class="col-xl-12 col-lg-12 col-md">
                                        <div class="form-group">
                                          <label for="temp_ave">Temperature</label>
                                          <output class="form-control" name="temp_ave" id="temp_ave"></output>
                                          </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-12 col-md">
                                            <div class="form-group">
                                              <label for="hum_ave">Humidity</label>
                                              <output class="form-control" name="hum_ave" id="hum_ave"></output>
                                              </div>
                                              </div>
                                    </div>
                                    <div class="col-12">
                                      <button class="btn btn-secondary btn-sm float-end" type="button" id="get_average">
                                        Get Average
                                      </button>
                                    </div>
                                  </div>
                                  <div class="card-footer">
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md">
                  <div class="fw-bolder" id="dateTime"></div>
                  <hr class="bg-black py-1 my-1">
                  <button class="btn btn-success w-100 mb-2" disabled="true" type="button" id="save_all_data">
                    Save All Collected Data
                  </button>
                  <div class="fw-bold d-flex justify-content-between">
                    <span>Preview</span>
                    <button class="btn btn-danger btn-sm py-0 clear-cookie">Clear</button>
                  </div>
                  <div id="preview"></div>
                </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'admin/base/footer_base.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        <script>
          
          var all_data = {}
          $(function(){
            if ($.cookie("power_rooms")){
              all_data = JSON.parse($.cookie("power_rooms"))
            }
            $('.orange_room').click(function(e){
              MakeSerial('orange_room')
              Preview()
            })
            $('.split_room').click(function(e){
              MakeSerial('split_room')
              Preview()
            })
            $('.lower_room').click(function(e){
              MakeSerial('lower_room')
              Preview()
            })
            $('.grey_room').click(function(e){
              MakeSerial('grey_room')
              Preview()
            })
            $('#get_average').click(function(){
              if (all_data.length > 0){
                var averages = getAverage(all_data)
              }
              else if ($.cookie("power_rooms")){
                var all_data2 = JSON.parse($.cookie("power_rooms"))
                var averages = getAverage(all_data2)
              }
            });

            $('#save_all_data').click(function(){
              var todayData = {}
              if (all_data.length > 0){
                todayData = all_data;
                sendDataBack(todayData)
              }
              else if ($.cookie("power_rooms")){
                todayData = JSON.parse($.cookie("power_rooms"))
                sendDataBack(todayData)
              }
              else{
                ToastMessage('No data collected or available for today', 'error')
              }
              
            });
            if ($.cookie("power_rooms")){
              Preview()
            }
            else{
              $('#preview').html("<span class='no-data'>No data collected or available for today</span>")
            }
            $('.clear-cookie').click(function(e){
              if ($.cookie("power_rooms")){
                $.removeCookie('power_rooms', { path: '/' });
                location.reload(true);
              }
            })
          })
          function Preview(){
            $('#no-data').addClass('visually-hidden');
            $('#preview').html('');
            todayData = JSON.parse($.cookie("power_rooms"))
            if (Object.keys(todayData).length == 4){
              $('#save_all_data').prop( "disabled", false )
            }
            $.each(todayData, function(index, value){
              var t = '';
              $.each(value, function(index2, value2){
                t += `
                <div>
                  <div class="d-flex justify-content-between">
                    <span class="fw-light text-capitalize">`+index2.replace(/_/g, ' ')+`</span>
                    <span class="fw-light">`+value2+`</span>
                  </div>
                </div>`
              });
              var text = `
              <div>
                <div class="text-uppercase class="fw-normal">`+index.replace(/_/g, ' ')+`</div>
                `+t+`
              </div>`
              $('#preview').append(text)
            })
          }
          function sendDataBack(todayData){
            $.ajax({
              url: "{{url_for('power_rooms_data')}}",
              type: 'POST',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(todayData),
              traditional: true,
              success: function(data){
                  console.log(data);
                  ToastMessage('Today\'s data is saved', 'success')
              }
            })
          }
          function getAverage(data){
            var temp = [];
            var hum = [];
            $.each(data, function(propName, propVal) {
              $.each(propVal, function(propN, propV){
                if (propN == 'temperature'){
                  temp.push(propV);
                }
                if (propN === 'humidity'){
                  hum.push(propV);
                }
              })
            });
            var temp_sum = 0
            var hum_sum = 0

            $.each(temp,function(){temp_sum+=parseFloat(this) || 0;});
            $.each(hum,function(){hum_sum+=parseFloat(this) || 0;});

            $('#temp_ave').val(temp_sum/(temp.length));
            $('#hum_ave').val(hum_sum/(hum.length));

            return {temp_av:temp_sum/(temp.length), hum_av:hum_sum/(hum.length)}
          }
          function MakeSerial(location){
            var d = $('#'+location).serializeArray()
              room = {}
              $.each(d, function(index, value){
                room[value.name] = value.value
              })
  
              all_data[location] = room
              MakeCookie(all_data)
              ToastMessage('Saved Successfully', 'success')
          }
          function MakeCookie(all_data){
            $.removeCookie('power_rooms', { path: '/' });
            var expDate = new Date();
            var tillmidnight = UntilMidnight()
            expDate.setTime(expDate.getTime() + (tillmidnight));
            $.cookie("power_rooms", JSON.stringify(all_data), { path: '/', secure: false, expires: expDate });
          }
          function UntilMidnight() {
            var midnight = new Date();
            midnight.setHours( 24 );
            midnight.setMinutes( 0 );
            midnight.setSeconds( 0 );
            midnight.setMilliseconds( 0 );
            return ( midnight.getTime() - new Date().getTime() );
        }
        </script>

    {%endblock%}