{% extends 'admin/base/auth_base.html'%}
{% block auth %}
	<style>
		.error-alert{
			font-size:10px !important;
			color:red !important;
		}
	</style>

		<div class="row mt-5">
			<div class="col-md-4 mx-auto">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center">{{ config.get('PROJECT_NAME') }}</h3>
					</div>
					<div class="card-body">
						<form action="{{ request.path }}" method="POST" class="..." novalidate>
							<div class="mb-2">
								<h5 class="card-text text-start">
									{% if request.path != '/register' %}Login{% else %}Register{% endif %}
								</h5>
							</div>
							{{ form.csrf_token }}
								
							{% with messages = get_flashed_messages(with_categories=true) %}
							<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
							{% if messages %}
							{% for category, message in messages %}
							<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
							{% endfor %}
							{% endif %}
							{% endwith %}
							
							{% if request.path == '/register' %}
							<div class="form-group mb-1">
								<label for="username">Username</label>
								{{ form.username(class_="form-control", id="username")}}
									
								{% for error in form.username.errors %}
								<span class="error-alert">{{ error }}</span>
								{% endfor%}
							</div>
							{% endif%}
							<div class="form-group mb-1">
								<label for="email">Email</label>	
								{{ form.email(class_="form-control", id="email")}}
									
								{% for error in form.email.errors %}
								<span class="error-alert">{{ error }}</span>
								{% endfor%}
							</div>
							<div class="form-group mb-1">
								<label for="password">Password</label>
								{{ form.pwd(class_="form-control", id="password")}}
								
								{% for error in form.pwd.errors %}
								<span class="error-alert">{{ error }}</span>
								{% endfor%}
							</div>
							{% if request.path == '/register' %}
							<div class="form-group mb-1">
								<label for="confpassword">Confirm Password</label>
								{{ form.cpwd(class_="form-control", id="confpassword")}}
									
								{% for error in form.cpwd.errors %}
								<span class="error-alert">{{ error }}</span>
								{% endfor%}
							</div>		
							{% endif%}
							{% if request.path != '/register' %}
							<button type="submit" class="btn btn-block btn-danger mb-3 mt-2">
							Login
							</button>
							{% else %}
							<button type="submit" class="btn btn-block btn-primary mb-3 mt-2">
							Register
							</button>
							{% endif %}
								
							<p>
							{% if request.path != '/register' %}
							New here?
							<a href="{{url_for('register')}}">Create account</a>
							{% else %}
							Already have an account?
							<a href="{{url_for('login')}}">Login</a>
							{% endif %}
							</p>
						<!-- <p class="text-center">Or login with:</p> -->
						<!-- <div class="d-flex justify-content-center">
							<a href="#" class="btn btn-outline-primary btn-lg mr-3"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="btn btn-outline-danger btn-lg mr-3"><i class="fab fa-google"></i></a>
							<a href="#" class="btn btn-outline-dark btn-lg"><i class="fab fa-github"></i></a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
{%endblock%}
