{% extends 'admin/base/auth_base.html'%}
{% block auth %}
	<style>
		.error-alert{
			font-size:10px !important;
			color:red !important;
		}
	</style>
	<div class="d-flex flex-column justify-content-center" style="overflow-x: hidden; height:100vh !important;">

		<div class="row">
			<div class="col-md-4 mx-auto">
				<div class="card">
					<div class="card-header">
						<div class="d-flex justify-content-center">
							<img alt="KRA LOGO" class="rounded" src="{{url_for('static', filename='images/kra3.png')}}" height="60">
						</div>
						<h3 class="text-center">{{ config.get('PROJECT_NAME') }}</h3>
					</div>
					<div class="card-body">
						<form action="{{ request.path }}" id="login_form" method="POST" class="..." novalidate>
							<div class="mb-2">
								<h5 class="card-text text-start">
									Login to access your account
								</h5>
							</div>
							{{ form.csrf_token }}
							
							<div class="form-group mb-1">
								<label for="email">Email</label>	
								{{ form.email(class_="form-control", id="email")}}
									
								{% for error in form.email.errors %}
								<span class="error-alert">{{ error }}</span>
								{% endfor%}
							</div>
							<div class="form-group mb-1">
								<label for="password">Password</label>
								{{ form.pwd(class_="form-control", id="password")}}
								
								{% for error in form.pwd.errors %}
								<span class="error-alert">{{ error }}</span>
								{% endfor%}
							</div>
							<button type="submit" form="login_form" class="btn btn-block btn-danger mb-3 mt-2">
							Login
							</button>
							</form>	
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
