<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.get('PROJECT_NAME') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{url_for('static', filename='images/kra1.png')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body class="bg-dark d-flex flex-column justify-content-center">

    <!-- Header section -->
    <div class="bg-dark text-white mt-5 text-center h-100">
      <h1 class="my-5 text-white">{{ config.get('PROJECT_NAME') }}</h1>
      <a href="/dashboard" class="btn btn-danger rounded-pill mt-5" style="width: 200px !important;">Get Started</a>
    </div>
  </body>
</html>
